<div class="panel  top20">
  <div class="panel-header">修改密码</div>
  <div class="panel-body">
    <%= form_for(current_user) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <div class="input-group group-width top20">
          <span class="input-group-addon">
            <samp class="alert-down">
              新密码
            </samp>
          </span>
          <%= f.password_field(:password, class: 'form-control', autofocus: true, autocomplete: "off", placeholder: '请输入8-14位新密码') %>
        </div>
        <div class="input-group group-width top20">
          <span class="input-group-addon">
            <samp class="alert-down">
              确认密码
            </samp>
          </span>
          <%= f.password_field(:password_confirmation, class: 'form-control', autofocus: true, autocomplete: "off", placeholder: '请再一次输入新密码') %>
        </div>
        <div class="top20">
          <button type="submit" class="submit">确认</button>
        </div>
    <% end %>
  </div>
</div>