<div class="row">
  <div class="col-lg-12 top10 tdzty">
    <div class="top15 clearfix row">
      <div class="col-lg-12 col-md-12">
        <div class="panel panel-default">
          <%= form_tag(update_photowall_path, multipart: true) do %>

                <div class="panel-headint tdzty clearfix">
                  <h3 class=" pull-left panel-title">照片墙</h3>
                </div>
                <div id="multi" class="clearfix cot-til panel-body">
                  <% (0...8).each { |index| %>
                      <div id="image" class="con-two  pull-left">
                        <div class="upload_area" style="background-image: url('<%=@photowall[index].photo.thumb.url rescue ''%>');background-size: cover">
                          <% if @photowall[index].blank? %>
                              <div class="panel-body">
                                <i class="iconfont2 lxcop">&#xe618;</i>

                                <p class="text-center cot-til">上传图片</p>
                              </div>
                          <% else %>

                          <% end %>
                          <input type="file" class="image_uploader" name="photo_<%= @photowall[index].id rescue 0 %>">
                        </div>
                        <div class="txt-two">
                          <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true" class="txt-til">&times;</span></button>
                        </div>
                      </div>
                  <% } %>
                </div>
                <div class="fygroup">
                  <input type="submit" value="确定" class="submit">
                </div>

          <% end %>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(function () {
        $('#multi').on('change', '.image_uploader', function () {
            var objUrl = getObjectURL(this.files[0]);
            $(this).parent().children('div').remove();
            $(this).parent().css('background-image', "url(" + objUrl + ")");
            $(this).parent().css('background-size', "cover");
        });
    })
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }

</script>