<div class="panel  top20">
  <div class="panel-header">新增群组</div>
  <div class="panel-body">
    <%= form_tag(batch_message_path) do %>
        <div class="input-group conte-cteli group-width">
          <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">所属门店</samp></span>
          <%= select_tag(:service, options_for_select(current_user.all_services.pluck('profiles.name', :id)), class: 'form-control selectpicker') %>
        </div>
        <dl class="message-horizontal top20 bottom10 clearfix">
          <dt>群组</dt>
          <dd>
            <div class="message-checkbox" id="group">
              <label>
                <input type="checkbox" value=""> 全部
              </label>
            </div>
          </dd>
        </dl>
        <div class="input-group gen-text">
          <textarea class="form-control form-control-text" rows="6" placeholder="请填写要发送的内容"></textarea>
        </div>
        <div class="top20">
          <button type="button" class="submit">确认</button>
        </div>
    <% end %>
  </div>
</div>
<script>
    $(function () {
        $('#service').on('change', function () {
            $.getJSON('', function () {
                $('#group').append(
                        '<label>' +
                        '<input type="checkbox">' +
                        '</label>>'
                );
            });
        })
    })
</script>