<!-- /.row -->
<div class="padding15">
  <div class="row">
    <div class="col-lg-12 top10 tdzty">
      <h3 class="poloklh4">群发消息</h3>

      <div class="panel panel-default top15">
        <div class="panel-body">
          <%= form_tag('/message', method: :post) do %>
              <% if @success %>
                  <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    消息已发送
                  </div>
              <% end %>
              <div class="clearfix">
                <dl class="dl-horizontal">
                  <dt class="ttcwl">群组：</dt>
                  <dd class="tpcpf">
                    <% @groups.each { |group| %>
                        <label class="checkbox-inline color5c">
                          <input type="checkbox" name="group[]" value="<%= group.id %>">
                          <%= group.name %>
                        </label>
                    <% } %>
                  </dd>
                </dl>
              </div>
              <div class="form-section top15">
                <label class="input-label">动态内容</label>
                <textarea class="input-text  pciilk" rows="3" name="content"></textarea>
              </div>
              <div class="fygroup">
                <button type="submit" class="btntn-lg ">确认</button>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>