<div class="panel">
  <div class="panel-header clearfix">
    会员卡详情
  </div>
  <div class="panel-body">
    <%= render 'card' %>
  </div>
</div>

<div class="panel">
  <div class="panel-header clearfix">消费记录</div>
  <div class="panel-body">
    <%= render 'table' %>
  </div>
</div>
