<div class="panel">
  <div class="panel-header">
    终端机展示图
    <%= link_to('新建', new_s_banner_path, class: 'pull-right') %>
  </div>
  <div class="panel-body">
    <%= render 'table' %>
  </div>
</div>