<table class="table table-striped card-list" id="datatable-editable">
  <thead>
  <tr>
    <th width="8%">门店</th>
    <th width="12%">第一栏</th>
    <th width="10%">第二栏</th>
    <th width="16%">第三栏</th>
    <th width="18%">操作</th>
  </tr>
  </thead>
  <tbody>
  <% @banners.each { |banner| %>
      <tr>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
  <% } %>
  </tbody>
</table>