<script>
    $(function () {
        $('.card_pagination a').on('click', function () {
            $.get(this.href, null, null, "script");
            return false;
        })
    });
</script>
<div id="table">
  <div>
    <table class="table table-striped" id="datatable-editable">
      <thead>
      <tr class="table-header">
        <th width="5%">编码</th>
        <th width="25%">会员卡名称</th>
        <th width="25%">所属门店</th>
        <th width="20%">卡类</th>
        <th width="20%">余额(元/次/有效期)</th>
        <th width="5%">操作</th>
      </tr>
      </thead>
      <tbody class="pritbl">
      </tbody>
    </table>
  </div>
  <div class="clearfix pull-right">
    <%= will_paginate @logs, renderer: BootstrapPagination::Rails, class: 'card_pagination' %>
  </div>
</div>