<div class="page-header  clearfix">
  <%= link_to '<samp class="mx-tab-active">
        <div id="triangle-down"></div>
        会员签到</samp>'.html_safe, '#', class: 'pull-left page-header-text' %>
  <%= link_to "全部会员签到记录", '#', class: "pull-left  page-header-text " %>
</div>
<div class="panel top20">
  <div class="panel-header clearfix header-selector">
    <span class="pull-left">会员详情</span>
  </div>
  <div class="panel-body">
  </div>
</div>
<div class="panel top20">
  <div class="panel-header clearfix header-selector">
    <span class="pull-left">会员卡信息</span>
  </div>
  <div class="panel-body">
    <%= render 'card' %>
  </div>
</div>



