<div class="panel">
  <div class="panel-header clearfix">
    <span class="pull-left">报表</span>
  </div>
  <div class="panel-body">
    <div id="highchart-div">
      <%= render 'order' %>
      <%= render 'sale' %>
    </div>
  </div>
</div>
<div class="panel">
  <div class="panel-header">
    <div class="pull-left">订单列表</div>
    <a class="pull-right" href="#"><i class="icon">&#xe60e;</i>导出表格</a>
  </div>
  <%= render 'table' %>
</div>