<div class="panel  top20">
  <div class="panel-header clearfix">
    <span class="pull-left">订单统计</span>
  </div>

  <div class="panel-body">
    <div>
      <%= render 'chart' %>
    </div>
    <div class="clearfix form-top">
      <h5 class="pull-left">表单</h5>
      <a class="pull-right" href="#"><i class="icon">&#xe60e;</i>导出表格</a>
    </div>
    <%= render 'table' %>
  </div>
</div>