<div class="panel  top20">
  <div class="panel-header">提现到支付宝</div>
  <div class="panel-body">
    <div>
      <%= render 'form' %>
    </div>
    <div>
      <%= render 'table' %>
    </div>
  </div>
</div>
