<h2 class="group-h2 top10">已选成员（5/100）</h2>
<table class="table-striped striped-border top20">
  <thead>
  <tr class="bordered-bj">
    <th width="48%">姓名</th>
    <th width="47%">性别</th>
    <th width="6%" class="text-right">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Lucy</td>
    <td>女</td>
    <td class="text-right"><a href="#"><i class="fa-trash-o fa"></i></a></td>
  </tr>
  <tr>
    <td>Sambin_吴承斌</td>
    <td>男</td>
    <td class="text-right"><a href="#"><i class="fa-trash-o fa"></i></a></td>
  </tr>
  <tr>
    <td>健身牛腩</td>
    <td>男</td>
    <td class="text-right"><a href="#"><i class="fa-trash-o fa"></i></a></td>
  </tr>
  <tr>
    <td>Lucy</td>
    <td>女</td>
    <td class="text-right"><a href="#"><i class="fa-trash-o fa"></i></a></td>
  </tr>
  <tr>
    <td>Sambin_吴承斌</td>
    <td>男</td>
    <td class="text-right"><a href="#"><i class="fa-trash-o fa"></i></a></td>
  </tr>
  <tr>
    <td>健身牛腩</td>
    <td>男</td>
    <td class="text-right"><a href="#"><i class="fa-trash-o fa"></i></a></td>
  </tr>
  <tr>
    <td>Lucy</td>
    <td>女</td>
    <td class="text-right"><a href="#"><i class="fa-trash-o fa"></i></a></td>
  </tr>
  <tr>
    <td>Sambin_吴承斌</td>
    <td>男</td>
    <td class="text-right"><a href="#"><i class="fa-trash-o fa"></i></a></td>
  </tr>
  <tr>
    <td>健身牛腩</td>
    <td>男</td>
    <td class="text-right"><a href="#"><i class="fa-trash-o fa"></i></a></td>
  </tr>
  </tbody>
</table>