<h1>学员</h1>

<div class="checkbox group-item">
  <label>
    <input type="checkbox" value=""> Lucy
  </label>
</div>
<div class="checkbox group-item">
  <label>
    <input type="checkbox" value=""> Lucy
  </label>
</div>
<div class="checkbox group-item">
  <label>
    <input type="checkbox" value=""> Lucy
  </label>
</div>
<div class="checkbox group-item">
  <label>
    <input type="checkbox" value=""> Lucy
  </label>
</div>
<div class="checkbox group-item">
  <label>
    <input type="checkbox" value=""> Lucy
  </label>
</div>
<div class="checkbox group-item">
  <label>
    <input type="checkbox" value=""> Lucy
  </label>
</div>
<div class="checkbox group-item">
  <label>
    <input type="checkbox" value=""> Lucy
  </label>
</div>
<div class="checkbox group-item">
  <label>
    <input type="checkbox" value=""> Lucy
  </label>
</div>
<div class="checkbox group-item">
  <label>
    <input type="checkbox" value=""> Lucy
  </label>
</div>
<div class="checkbox group-item">
  <label>
    <input type="checkbox" value=""> Lucy
  </label>
</div>