<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <ul>
      <li>
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "请输入邮件" %>
      </li>
      <li class="top20">
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: "请输入密码" %>
      </li>
      <a class="top20" href="javascript:void(alert('请联系官方服务人员或拨打客服电话021-62418505'));">忘记密码?</a>
    </ul>
    <%= f.submit('登陆', class: 'land-button') %>
<% end %>