<script>
    $(function () {
        $('#coach').highcharts({
            chart: {plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false},
            title: {text: '私教情况'},
            tooltip: {pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'},
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '占比',
                data: [['男私教', <%=@query.result.includes(:service).where(service_members: {service_id: current_user.all_services.pluck(:id)}).where(profiles: {gender: 0}).count%>],
                    ['女私教', <%=@query.result.includes(:service).where(service_members: {service_id: current_user.all_services.pluck(:id)}).where(profiles: {gender: 1}).count%>]]
            }]
        });
    });
</script>
<div id="coach"></div>