<div class="page-header  clearfix">
  <a class="pull-left  page-header-text"><samp class="mx-tab-active">
    <div id="triangle-down"></div>
    向一人转账</samp></a>
  <%= link_to "向多人转账", '#', class: "pull-left  page-header-text " %>
</div>
<div class="panel top20">
  <div class="panel-header clearfix sure-select">
    <span class="pull-left"></span>
  </div>
  <div>
    <div class="panel-body">
      <div id="form">
        <%= render 'form' %>
      </div>
      <div>
        <%= render 'table' %>
      </div>
    </div>
  </div>
</div>


