/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */



.file_remove_format {position: absolute;top: 0;right: 0;width: 100%;height: 100%;text-align: right;opacity: 0;background: 0 0;cursor: inherit;display: block;}

.portrait{ width:220px; height: 200px; text-align: center;  padding-top: 20px; position: relative; box-shadow: 0px 0px 8px #ecebec;}
.portrait span{ width: 130px; height: 130px;
  background: #d6dfeb;
  display:block; margin: 0 auto; font-size:40px; line-height: 130px; border-radius: 100%;
  color: #fff;
  margin-bottom: 10px;}
.portrait p{ color: #a1aab7;}

