@font-face {
  font-family: "iconfont";
  src: font_url("iconfont.eot"); /* IE9*/
  src: font_url("iconfont.eot?#iefix") format('embedded-opentype'),
  font_url("iconfont.woff") format('woff'),
  font_url("iconfont.ttf") format('truetype'),
  font_url("iconfont.svg#iconfont") format('svg'); /* iOS 4.1- */
}

.icon {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.Photo-font {
  font-size: 40px;
}

.dynamic-font {
  font-size: 60px;
  margin-top: 20px;
  display: inline-block;
}

.iconfont {
  font-size: 18px;
  margin-right: 16px;
}

.nav-font {
  font-size: 20px;
}

.icon-fanhui:before {
  content: "\e604";
}

.icon-yonghu01:before {
  content: "\e603";
}

.icon-shouye:before {
  content: "\e602";
}

.icon-xueyuan:before {
  content: "\e601";
}

.icon-xiaoxixuanzhong:before {
  content: "\e600";
}

.icon-fujian:before {
  content: "\e62c";
}

.icon-xiugaimima:before {
  content: "\e605";
}

.icon-cnshipin:before {
  content: "\e62d";
}

.icon-iconcard:before {
  content: "\e607";
}

.icon-iconenter:before {
  content: "\e608";
}

.icon-iconshop:before {
  content: "\e609";
}

.icon-iconsign:before {
  content: "\e60a";
}

.icon-iconqianbao:before {
  content: "\e60b";
}

.icon-iconfontbaobiao:before {
  content: "\e60c";
}

.icon-iconfontdianpu:before {
  content: "\e60d";
}

.icon-iconfontexport:before {
  content: "\e60e";
}

.icon-iconjiantou:before {
  content: "\e60f";
}

.icon-iconarrowright:before {
  content: "\e610";
}

.icon-iconarrowpageright:before {
  content: "\e611";
}

.icon-iconarrowpage02:before {
  content: "\e612";
}

.icon-icontouxiang:before {
  content: "\e606";
}

.icon-icontianjia:before {
  content: "\e613";
}

.icon-iconfontshanchu:before {
  content: "\e614";
}

.icon-iconbianji:before {
  content: "\e615";
}

.icon-iconlajitong:before {
  content: "\e616";
}

.icon-icongou:before {
  content: "\e617";
}

.icon-iconplay:before {
  content: "\e618";
}

.icon-iconpaizhao:before {
  content: "\e619";
}

.icon-iconshipin:before {
  content: "\e61a";
}

.icon-iconsearch:before {
  content: "\e61b";
}

.icon-iconmale:before {
  content: "\e61d";
}

.icon-iconfemale:before {
  content: "\e61e";
}

.icon-iconid:before {
  content: "\e61f";
}

.icon-iconpicture:before {
  content: "\e620";
}

.icon-iconintegration:before {
  content: "\e621";
}

.icon-iconpinglun:before {
  content: "\e622";
}

.icon-iconzhaopian:before {
  content: "\e623";
}

.icon-icondengchu:before {
  content: "\e624";
}

.icon-iconmima:before {
  content: "\e625";
}

.icon-icondianhua:before {
  content: "\e626";
}

.icon-icondizhi:before {
  content: "\e627";
}

.icon-iconwangzhi:before {
  content: "\e628";
}

.icon-icontime:before {
  content: "\e629";
}

.icon-iconintegrationuser:before {
  content: "\e62a";
}

.icon-iconservice:before {
  content: "\e61c";
}
