<div class="histo-top colmd clearfix">
  <div class="member-search pull-left member-type">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="icon">&#xe61b;</i></span>
      <input type="text" class="form-control" placeholder="会员姓名／手机号码／实体卡号">
    </div>

  </div>

  <a href="#" class="new-member pull-right">
    <i class="icon">&#xe613;</i> 新增会员卡
  </a>
  <a href="#" class="new-member pull-right">
    会员卡充值
  </a>
  <a href="#" class="detailed-Search pull-right">搜索</a>
</div>