<div class="page-header clearfix">
  <div class="pull-left mx-tabs">
    <%= link_to '会员签到', checkin_path, class: 'pull-left page-header-text' %>
    <%= link_to '<samp class="mx-tab-active">
        <div id="triangle-down"></div>
        全部会员签到记录</samp>'.html_safe, checkin_list_path, class: "pull-left  page-header-text" %>
  </div>
  <div class="pull-right member-search">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="icon">&#xe61b;</i></span>
      <input type="text" class="form-control" placeholder="会员名称/手机号码">
    </div>
  </div>

</div>
<div class="panel top20">
  <div class="panel-header clearfix header-selector">
    <span class="pull-left">签到记录(<%= @logs.total_entries %>)</span>
  </div>
  <div class="panel-body" id="list-panel">
    <%= render 'list' %>
  </div>
</div>