<div class="row">
  <div class="col-lg-12 top10 tdzty">
    <h3 class="poloklh4">提现到支付宝</h3>

    <div class="panel panel-default top15">
      <div class="panel-heading">
        <h3 class="panel-title">提现</h3>
      </div>
      <div class="panel-body">
        <div class="col-lg-4 ">
          <%= form_tag(submit_withdraw_path) do %>
              <% if @error.present? %>
                  <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    提现申请已提交
                  </div>
              <% end %>
              <% if @success.present? %>
                  <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Success:</span>
                    提现申请已提交
                  </div>
              <% end %>
              <div class="form-section fygroup colmd3">
                <div class='input-group date'>
                              <span class="input-group-addon">
                                账户余额
                              </span>
                  <input type="text" class="input-text" value="<%= @service.wallet.balance.to_f %>" readonly>
                </div>
              </div>
              <div class="form-section fygroup colmd3">
                <div class='input-group date'>
                              <span class="input-group-addon">
                                支付宝账户
                              </span>
                  <% if @alipay.present? %>
                      <input name="account" type="text" class="input-text" value="<%= @alipay[:account] %>" readonly>
                  <% else %>
                      <input name="account" type="text" class="input-text">
                  <% end %>
                </div>
              </div>
              <div class="form-section fygroup colmd3">
                <div class='input-group date'>
                              <span class="input-group-addon">
                                收款人
                              </span>
                  <% if @alipay.present? %>
                      <input name="name" type="text" class="input-text" value="<%= @alipay[:name] %>" readonly>
                  <% else %>
                      <input name="name" type="text" class="input-text">
                  <% end %>
                </div>
              </div>
              <div class="form-group input-group  input-lg  col-xs-6  top10">
                <div class="form-section">
                  <label class="input-label">转账金额</label>
                  <input name="amount" class="input-text" type="text">
                </div>
                <span class="input-group-addon">元</span></div>

              <div class="fygroup">
                <button type="submit" class="submit ">确认</button>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <h4 class="trcxg">首次输入的支付宝帐号将直接绑定为服务号提现帐号，如需更改，请联系客服 021-67854738。</h4>
  </div>
</div>