<div class="row">
  <div class="col-lg-12 top10 tdzty">
    <h3 class="poloklh4">提现到支付宝</h3>

    <div class="panel panel-default top15">
      <div class="panel-heading">
        <h3 class="panel-title">提现</h3>
      </div>
      <div class="panel-body">
        <div class="col-lg-4 ">
          <form role="form">

            <dl class="dl-horizontalt top8 ">
              <dt class="risk">支付宝账号:</dt>
              <dd>Liz@e-mxing.com</dd>
              <p class="clear"></p>
            </dl>
            <dl class="dl-horizontalt  top8">
              <dt class="risk">收款人:</dt>
              <dd>李洁倩</dd>
            </dl>
            <div class="form-group input-group  input-lg  col-xs-6  top10">
              <div class="form-section">
                <label class="input-label">转账金额</label>
                <input class="input-text" type="text">
              </div>
              <span class="input-group-addon">元</span></div>
          </form>
          <div class="fygroup">
            <button type="button" class="btntn-lg ">确认</button>
          </div>
        </div>
      </div>
    </div>
    <h4 class="trcxg">首次输入的支付宝帐号将直接绑定为服务号提现帐号，如需更改，请联系客服 021-67854738。</h4>
  </div>
</div>