<div class="pull-left badge-clr">
  <a href="#">
    <i class="nav-font icon">&#xe604;</i> 回门店信息
  </a>
</div>
<div class="pull-right badge-right dropdown">
  <a class="btn-tault " id="dropdownMenu1" data-toggle="dropdown">
    <ul>
      <li class="media">
        <div class="badge-left pull-left">

          <%= image_tag "1.jpg", class: "media-object" %>

        </div>
        <div class="pull-left">
          我是标题
        </div>
      </li>
    </ul>
  </a>
  <ul class="dropdown-menu dropup " aria-labelledby="dropdownMenu1">

    <li><a href="#"><i class="iconfont icon">&#xe605;</i>修改密码</a></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to '<i class="iconfont icon">&#xe624;</i>登出'.html_safe, logout_path %></li>

  </ul>
</div>