<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>登录</title>
  <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-2.1.1.min.js"></script>
  <%= stylesheet_link_tag 'css/style', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body class="login">
<div class="login_bj"></div>
<div class="login_m">
  <div class="login_logo"><%= image_tag('Login-logo.png') %></div>
  <div class="login_border">
    <%= yield %>
  </div>
</div>
<%= javascript_include_tag 'js/sb-admin-2' %>
</body>
</html>