<div class="operation-record top20">
  <h1><span>操作人: 橙色呆子</span><span class="record">操作时间：2015-10-22 14:40</span></h1>

  <div class="operation-Content">赠送次卡，初始金额1.0次</div>
  <div class="operation-bottl clearfix">
    <p class="pull-left">
      <span><i class="icon">&#xe62c;</i>赠送记录.exl</span>
      <span><i class="icon">&#xe620;</i>会员详情.jpg</span>
      <span><i class="icon">&#xe62d;</i>会员详情.jpg</span>
    </p>

    <p class="pull-right operation-right">
      添加附件
  </div>
</div>